name: CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Get deno version
        id: deno-version
        run: |
          echo "version=$(cat .deno-version)" >> ${GITHUB_OUTPUT}
      - name: Set up Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ steps.deno-version.outputs.version }}
      - uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ~/.deno
            ~/.cache/deno
          key: ${{ runner.os }}-deno-v1-${{ hashFiles('**/deno.json', '**/.deno-version', 'deps/**', 'README.md') }}
      - name: Run linters
        run:
          deno task check
      - name: Run tests
        run: |
          deno task test
